/* styles.css */
html, body, #root {
    height: 100vh;
    margin: 0px;
}

#root {
    overflow: auto;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #00b894;
}

.page {
    flex: 1;
}
  
@media screen and (max-width: 768px) {
    body {
        flex-direction: column-reverse;
    }
}