.nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom: 1px solid #b2bec3;
}

.nav-logo {
    flex: 1;
}

.nav-menu {
    display: inline-flex;
    flex-direction: row;
}

.nav-item {
    cursor: pointer;
    text-align: center;
    padding: 20px 20px;
}

.nav-item:hover {
    background-color: #b2bec3;
}
  
@media screen and (max-width: 768px) {
    .nav {
        border-bottom: none;    
        border-top: 1px solid #b2bec3;
    }
    
    .nav-logo {
        display: none;
    }
    .nav-menu {
        flex: 1;
    }
    .nav-item {
        flex: 1;
    }
}