.reports {
    display: flex;
    flex-direction: row;
}

.report {
    padding: 20px;
    margin-right: 10px;
    background-color: white;
    border-radius: 20px;
}

.report-images {
    height: 120px;
}

.report-image {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-color: aqua;
}

@media screen and (max-width: 768px) {
    .reports {
        display: flex;
        flex-direction: column;
    }
}